/* Import Tailwind CSS */
@import "tailwindcss";

.custom-scrollbar::-webkit-scrollbar {
  width: 11px;

  
}

.custom-scrollbar::-webkit-scrollbar-track {
  /* border-radius: 10px; */
  background: rgb(255, 253, 253);

}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgb(185, 167, 167);

  border-radius: 10px;
  cursor: pointer;
  
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #837f7f;
}

.row {
  @apply flex flex-wrap -mx-[10px];
}

.container {
  @apply max-w-[1260px] mx-auto px-[10px];
}

.caption {
  @apply w-full bottom-0 absolute bg-gradient-to-b from-transparent text-white to-black/85 z-[99] text-[1.0em] leading-[25px] font-extrabold;
}

  
  